@import url("https://fonts.googleapis.com/css2?family=Roboto:ital;wght@0;300;0;400;0;500;0;700;1;100&display=swap");

:root {
    font-size: 62.5%;
    --primary-color: #10b09a;
    --secondary-color: #ff9000;
    --secondary-color-mo: #ff94088e;
    --tertiary-color: #017374;
    --tertiary-color-m: #01727498;
    --grey-color: rgba(78, 87, 84, 1);
    --grey-text: rgba(48, 54, 52, 1);
    --grey-light-text: rgb(96, 103, 100);
    --grey-light-border: rgb(145, 169, 165);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
    background: #f5f5f5;
    display: flex;
    /*height: 100vh;*/
    /*overflow: hidden;*/
}

a,
a:link,
a:visited {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

/********************* Aside Nav **************************/
aside#side-nav {
    flex: 1;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    width: calc(3vw + 3vh);
}

div.side-nav__content {
    height: 100%;

}

div.side-nav__content--logo img {

    object-fit: cover;
}

ul.side-nav__content--social {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

ul.side-nav__content--social a i {
    font-size: calc(1rem + .9vw);
    color: white;
    padding-bottom: calc(6rem + .6667vw);
    transition: color .7s;
}

ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active {
    color: var(--secondary-color);
}

/********************* Main Component **************************/
main {
    flex: 20;
}

/********************* Main Nav Header **************************/
header#header {
    background-color: var(--grey-color);
    height: calc(4.5vw + 3vh);
    z-index: 2;
}

nav#header__main-nav {
    height: 100%;
}

ul.header__main-nav--links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--grey-color);
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

ul.header__main-nav--links li {
    padding-right: 3vw;
}

ul.header__main-nav--links li a {
    position: relative;
    padding: .5rem .6rem;
    font-size: calc(1rem + .66667vw);
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 300;
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: .25rem;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transition: transform .5s;

}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before {
    top: 0;
    transform-origin: left;
}

ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
    bottom: 0;
    transform-origin: right;
}

ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
    transform: scaleX(1);
}

/************************** ANIMATION **************************/
@keyframes swipe-from-left {
    0% {
        opacity: 0;
        margin-left: -30rem;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes swipe-from-right {
    0% {
        opacity: 0;
        margin-left: 30rem;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes swipe-from-top {
    0% {
        opacity: 0;
        margin-top: -30rem;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

/**************************HERO SECTION**************************/
.hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;
}

.hero_box {
    width: 70%;
}

.name_greet_outer_box {
    display: flex;
    justify-content: flex-end;
    animation: swipe-from-top 2s ease-out;
}

.name_greet_inner_box {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 50%;
}

.greet_hi {
    font-weight: 400;
    font-size: calc(2rem + 1vw);
    color: var(--grey-light-text);
    /*letter-spacing: .3rem;*/
}

.greet_name {
    font-size: calc(2.5rem + 1vw);
    text-transform: uppercase;
    color: #ff9000;
    letter-spacing: .3rem;
    /*letter-spacing: .5rem;*/
}

.hero_image_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-110%) translateY(-50%);
    display: flex;
    justify-content: center;
    animation: swipe-from-left 2s ease-out;
    z-index: 1;
    width: 24%;
}

.hero_image {
    display: block;

    -webkit-box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero_banner {
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    clip-path: polygon(0% 0, 100% 0, 97% 100%, 0 100%);
    animation: swipe-from-right 2s ease-out;
    padding: 1.5rem 0;
    /*width: 90%;*/
}

.hero_banner_text_box {
    text-transform: uppercase;
    padding: 1.2rem 0;
    color: #434f49;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: flex-end;*/

}

.hero_banner_title_main {
    font-size: calc(2.2rem + .6vw);
}

.hero_banner_title_main2 {
    font-size: calc(1rem + .4vw);;
    font-weight: 300;
    letter-spacing: .35rem;
}

/**************************ABOUT*****************************/
section#about-me {
    width: 90%;
    height: 50rem;
    margin: 2rem auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--grey-light-border);

    padding: 3rem;
    position: relative;
}

.about-me__title {
    display: inline-block;
    font-size: 3.5rem;
    color: var(--grey-light-text);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: var(--secondary-color);
    line-height: 3rem;
}

.about-me__tagline--container {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    width: 100%;
    margin: 2rem 0 ;
}

.about-me__tagline {
    font-size: calc(1rem + .35vw);
    color: var(--grey-text);
}

.about-me__para--container {
    width: 60%;
    /*margin-left: 2rem;*/
}

.about-me__paragraph {
    font-size: 1.5rem;
}

.about-me__image-container {
    position: absolute;
    top: 4rem;
    right: 10%;
    width: 25rem;
    height: 40rem;
}

.about-me__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/**************************MEDIA*****************************/
@media screen and (max-width: 1400px) {
    .about-me__tagline {
        width: 68%;
    }

}

@media screen and (max-width: 1300px) {
    .about-me__tagline {
        width: 65%;
    }

}

@media screen and (max-width: 1200px) {
    .hero_box {
        width: 85%;
    }

    .about-me__tagline {
        width: 60%;
    }

}

@media screen and (max-width: 1100px) {
    .hero_box {
        width: 95%;
    }

    .about-me__tagline {
        width: 60%;
    }

    .about-me__image-container {
        top: 4rem;
        right: 5%;
        width: 25rem;
    }
}

/**************************MEDIA*****************************/

@media screen and (max-width: 900px) {
    .hero_box {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 1rem 1rem 1rem;
        padding: .5rem;
    }

    .hero_image_container {
        animation: none;
        position: static;
        transform: none;
        background-color: deeppink;
        width:40%;
    }

    .hero_image {
        /*top: 0;*/
        /*left: 0;*/
        /*transform: none;*/
        box-shadow: none;
    }

    .name_greet_outer_box {
        justify-content: center;
        align-items: center;
        width: 70%;
        animation: none;
    }

    .name_greet_inner_box {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hero_banner {
        clip-path: none;
        width: 70%;
        justify-content: center;
        align-items: center;
        animation: none;
    }

    .hero_banner_text_box {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hero_banner_title_main {
    }

    .hero_banner_title_main2 {
        margin-left: .5rem;
    }

    section#about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .about-me__image-container {
        position: static;
        width: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: var(--grey-light-border);
        border-radius: 5px;
        padding: 1rem 0;
    }

    .about-me__tagline {
        width: 98%;
    }

    .about-me__para--container {
        width: 98%;

    }
}

@media screen and (max-width: 750px) {
    .hero_image_container {
        width:60%;
    }
}
/**************************MEDIA*****************************/

@media screen and (max-width: 630px) {
    aside#side-nav {
        flex: 2;
    }

    header#header {
        position: absolute;
    }

    nav#header__main-nav {
        width: 30rem;
        height: 100%;
        position: fixed;
        right: -30rem;
        background-color: var(--secondary-color);
        text-align: center;
    }

    .clicked {
        left: 55%;
    }

    .header__main-nav--hamburger {
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 2rem;
        right: 3rem;
        cursor: pointer;
        background-color: var(--secondary-color);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem;
    }

    div.line {
        width: 100%;
        height: .3rem;
        background-color: white;
        border-radius: .2rem;
        transition: all .4s ease-in;
    }

    ul.header__main-nav--links {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    ul.header__main-nav--links li {
        margin-bottom: 4vh;
        margin-left: 6vw;
    }

    .clicked .line-1 {
        transform: rotateZ(-405deg) translate(-.8rem, .6rem);
    }

    .clicked .line-2 {
        opacity: 0;
    }

    .clicked .line-3 {
        transform: rotateZ(405deg) translate(-.8rem, -.6rem);
    }

    ul.header__main-nav--links li {
        opacity: 0;
    }

    ul.header__main-nav--links li:nth-child(1) {
        transition: all .5s ease-in-out .2s;
    }

    ul.header__main-nav--links li:nth-child(2) {
        transition: all .5s ease-in-out .4s;
    }

    ul.header__main-nav--links li:nth-child(3) {
        transition: all .5s ease-in-out .6s;
    }

    ul.header__main-nav--links li:nth-child(4) {
        transition: all .5s ease-in-out .8s;
    }

    ul.header__main-nav--links li:nth-child(5) {
        transition: all .5s ease-in-out 1s;
    }

    ul.header__main-nav--links li:nth-child(6) {
        transition: all .5s ease-in-out 1.2s;
    }

    ul.header__main-nav--links li.fade {
        opacity: 1;
    }

    .hero_box {
        margin-top: 20rem;
        width: 100%;
    }

    .name_greet_outer_box {
        width: 100%;
    }

    .hero_banner {
        width: 100%;
    }
    .hero_image_container{
        width: 70%;
    }
    .hero_image {
        width: 100%;
    }

    section#about-me {
        flex-direction: column;
    }
}